/***********************
- Start Global Rules 
************************/

*{
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
:root {
    --main_Color:cornflowerblue;
    --main_background:black;
    --child_color:white;
    --border_color: gray; 
}
body {
    background-color:black;
    font-family: 'Jost', sans-serif;
    overflow-x: hidden;
    /* overflow-y: hidden; */
}
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
}
::-webkit-scrollbar-thumb {
    background: gray; 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background:var(--main_Color); 
}
.container {
    margin: 0 auto;
    padding: 0 20px;
}
.title {
    font-size: 17px;
    color: var(--main_Color);
}
.title span {
    display: block;
    margin: 15px 0;
    color: var(--child_color);
    font-size: 35px;
    position: relative;
}
.title span::after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 0;
    background-color: var(--border_color);
    width: 20%;
    height: 2px;

}
img {
    position: relative;
    z-index: -3;
}
#cursor_id {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    z-index: -2;
}
.cursor-hover {
    background-color: rgba(128, 128, 128, 0.36);
    border:  1px solid gray;
    transform: scale(1.5) ;
}
.cursor-blur {
    transition: 200ms ease-out ;
    border: 2px solid var(--main_Color);
    animation: animationCursor .5s infinite alternate; 
}
@keyframes animationCursor {
    0% {
        transform: scale(1);
        }
    100% {
            transform: scale(1.3);
        }
} 
.cursor-blur::after {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 8px solid gray;
    opacity: .7;
    position: absolute;
    top: -5px;
    left: -5px;
    animation: animationCursor .5s infinite alternate; 
}
@keyframes animationCursor {
    0%{
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}
.cursor_child {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    z-index: -2;
    transition: 150ms ease-out;
    background-color: var(--child_color);
}

/* End Global Rules */

/*************************
01-start section loading
***************************/

.section_loading_page {
    width: 100%;
    height: 100%;
    background-color: var(--main_Color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 110;
    transition: 1s;
    opacity: 1;
}
.section_loading_page .svgLogo {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: .5s;
}
#logo {
    width: 70%;
    opacity: 1;
}
#logo path:nth-child(2) {
    stroke-dasharray: 640;   
    stroke-dashoffset: 640;
    animation: ain 2s linear forwards .3s;

}
#logo path:nth-child(3) {
    stroke-dasharray: 314;   
    stroke-dashoffset:314 ;
    animation: ain 2s linear forwards .6s;

}
#logo path:nth-child(4) {
    stroke-dasharray: 573;   
    stroke-dashoffset: 573;
    animation: ain 2s linear forwards .9s;

}
#logo path:nth-child(5) {
    stroke-dasharray: 513;   
    stroke-dashoffset: 513;
    animation: ain 2s linear forwards 1.2s;

}
#logo path:nth-child(6) {
    stroke-dasharray: 433;   
    stroke-dashoffset: 433;
    animation: ain 2s linear forwards 1.5s;

}
#logo path:nth-child(7) {
    stroke-dasharray: 556;   
    stroke-dashoffset: 556;
    animation: ain 2s linear forwards 1.8s;

}
#logo path:nth-child(8) {
    stroke-dasharray: 517;   
    stroke-dashoffset: 517;
    animation: ain 2s linear forwards 2.1s;

}
#logo path:nth-child(9) {
    stroke-dasharray: 401;   
    stroke-dashoffset: 401;
    animation: ain 2s linear forwards 2.4s;

}
#logo path:nth-child(10) {
    stroke-dasharray: 640;   
    stroke-dashoffset: 640px;
    animation: ain 2s linear forwards 2.7s;

}
#logo path:nth-child(11) {
    stroke-dasharray: 314;   
    stroke-dashoffset: 314;
    animation: ain 2s linear forwards 3s;

}
#logo path:nth-child(12) {
    stroke-dasharray: 573;   
    stroke-dashoffset: 573;
    animation: ain 2s linear forwards 3.3s;

}
#logo path:nth-child(13) {
    stroke-dasharray: 513;   
    stroke-dashoffset: 513;
    animation: ain 2s linear forwards 3.6s;

}
#logo path:nth-child(14) {
    stroke-dasharray: 433;   
    stroke-dashoffset: 433;
    animation: ain 2s linear forwards 3.9s;
}
#logo path:nth-child(15) {
    stroke-dasharray: 556;   
    stroke-dashoffset: 556;
    animation: ain 2s linear forwards 4.2s;
}
#logo path:nth-child(16) {
    stroke-dasharray: 517;   
    stroke-dashoffset: 517;
    animation: ain 2s linear forwards 4.5s;
}
#logo path:nth-child(17) {
    stroke-dasharray: 401;   
    stroke-dashoffset: 401;
    animation: ain 2s linear forwards 4.8s;
}
 @keyframes ain {
    to {
        stroke-dashoffset: 0;
    }
}

.scroll-To-Top {
    width: 45px;
    height: 45px;
    border-radius:5px;
    overflow: hidden;
    display: none;
    position: fixed;
    bottom: 1rem;
    left: 2rem;
}
.scroll-To-Top .Btn-scroll {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: 1px solid var(--border_color);
    color: var(--main_Color);
    font-size: 18px;
    opacity: 0;
    transition: opacity .5s linear;
}

/* End section loading */



/***********************
02-Start From Navbar
*************************/

.navbar {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

.navbar .logo-nav {
    width: 120px;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-300px);
    transition: .8s linear;
}
.navbar .logo-nav a {
    font-size: 17px;
    color: var(--main_Color);
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}
.navbar .logo-nav a span {
    font-size: 20px;
    color: var(--child_color);
}

.navbar .links {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transform: translateY(-100px);
    transition: 1s linear;
}
.navbar .links a {
    font-size: 16px;
    text-decoration: none;
    color: var(--child_color);
    text-transform: capitalize;
    transition: .3s linear;
}
.navbar .links a:hover {
    color: var(--main_Color);
}

.navbar .menu-buttons {
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transform: translateX(300px);
    transition: .8s linear;
}
.navbar .menu-buttons  button {
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    background: none;
    color: var(--child_color);
    border: 0;
    font-size: 20px;
    transition: .3s linear;
    position: relative;
    padding: 10px;
    margin: 0 5px;
}
.navbar .menu-buttons button:hover {
    color: var(--main_Color);
}
.navbar .menu-buttons .main_colors {
    width: 56px;
    position: relative;

}
.navbar .menu-buttons  .list-colors {
    width: 25px;
    height: 0;
    background-color: var(--child_color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 19px;
    top: 2.5rem;
    padding: 0;
    z-index: 5;
    border-radius: 20px;
    overflow: hidden;
    transition: .3s  ;
}
.navbar .menu-buttons .active_ul_color {
    height: 90px ;
}
.navbar .menu-buttons .list-colors  button {
    width: 13px;
    height: 13px;
    padding: 0;
    margin: 2px 0;
    border-radius: 50%;
    cursor: pointer;
}

/* animation navbar */
.navbar .logo-nav.active-header, 
.navbar .links.active-header,
.navbar .menu-buttons.active-header
{
    transform: translateX(0);
    transform: translateY(0);
}
.open_Menu {
    display: none;
}


/***********************
03-Start From main_Parent
*************************/
.main_Parent {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

/****************
-- main Right 
******************/     

.main_right {
    width: 30%;
    height: 600px;
    position: sticky;
    top: 3rem;
    right: 0;
    z-index: -3;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}
.main_right .myImage {
    width: 80%;
    height: 340px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.main_right .myImage::after {
    content: "";
    width: 110%;
    height: 130%;
    top:-15%;
    right: -1rem;
    border-radius: 5px;
    position: absolute;
    transition: .5s linear;
    border:  1px solid var(--border_color);
} 
.main_right .myImage::before {
    content: "";
    width: 120%;
    height: 120%;
    bottom: -11%;
    left: -11%;
    position: absolute;
    border:  1px solid var(--border_color);
}  
.main_right .myImage img {
    width: 90%;
    height: 80%;
}
.main_right .myImage .my_signature {
    display: block;
    position: relative;
    width: 150px;
    height: 10%;
    color: gray;
    text-align: center;
    font-size: 20px;
    font-family: 'Satisfy', cursive;
    padding-top: 8px;
    transition: 1s linear;
}
.main_right .myImage .my_signature::after {
    content: "{";
    font-size: 28px;
    font-weight: 500;
    color: var(--main_Color);
    position: absolute;
    top: 5px;
    left:  -1.5rem;
    opacity: 0;
    animation: anmi-name 1s infinite alternate;
}
.main_right .myImage .my_signature::before {
    content: "}";
    font-size: 28px;
    font-weight: 500;
    color: var(--main_Color);
    position: absolute;
    top: 10px;
    right: -1.5rem;
    opacity: 0;
    animation: anmi-name 1s infinite alternate;
}
@keyframes anmi-name {
    to{
        opacity: 1;
    }
}
/****************
-- Main Left 
******************/
.main_left {
    width: 60%;
    min-height: 650px;
    margin: 0;
    padding: 0;
}

/*--------------
-* Information **
----------------*/

.information {
    width: 100%;
    height: 650px;
    padding: 10px 20px;
    color: var(--border_color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}
.information h1 {
    height: 60px;
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 55px;
    position: relative;
    color: var(--main_Color);
}
.information h1::after {
    content: "";
    width: 40%;
    border-radius: 0px 5px 5px 0px;
    height: 1px;
    background-color: var(--border_color);
    position: absolute;
    bottom: -10px;
    left: 0;
}
.information p {
    font-size: 24px;
    margin: 8px 0;
    width: 60%;
}
.information span {
    display: block;
    color: gray;
    font-size: 25px;
    font-family: 'Satisfy', cursive;
}

.information .socialMedia {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.information .socialMedia a {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    color: var(--border_color);
    text-decoration: none;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s linear;
}
.information .socialMedia a:hover {
    font-size: 18px;
    transform: scale(1.2);
    color: var(--main_Color);
}


/*--------------
-* About **
----------------*/
.about {
    width: 100%;
    min-height: 600px;
    padding: 10px 20px;
}
.about p {
    width: 80%;
    font-size: 22px;
    margin-top: 3em;
    color:var(--border_color);
}
.about table {
    width: 100%;
    margin-top:5em ;
}                                                          
.about table td {
    padding: 4px 8rem 10px 0px;
    font-size: 18px;
    font-weight: 500;
    color: var(--child_color);
}
.about table .titel_tabol {
    color: var(--main_Color);
}
.about button {
    width: 90%;
    margin: 2em 0;
    height: 100px;
    background: none;
    cursor: pointer;
    border: 1px solid var(--border_color);
    transition: .5s;
    overflow: hidden;
}
.about button:hover {
    border: 1px solid var(--main_Color);
    box-shadow: 0 0 2px 2px var(--main_Color);
}
.about button a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about button a i {
    font-size: 30px;
    margin-bottom: 8px;
    color: var(--child_color);
}
.about button a span {
    font-size: 18px;
    color:var(--border_color);
    text-transform: uppercase;
    position: relative;
}

/*--------------
-* My Menu **
----------------*/
.my_Menu {
    width: 100%;
    min-height: 600px;
    padding: 3em 0;
    margin: 6em 0;
    position: relative;
}
.my_Menu .links {
    width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 3em;
}
.my_Menu .links::after {
    content: "";
    position: absolute;
    width: 52px;
    height: 1px;
    background-color: var(--border_color);
    top: 23px;
    left: 123px;

}
.my_Menu .links button {
    font-size: 22px;
    padding: 8px 15px;
    color: var(--border_color);
    background: none;
    border: 0;
    cursor: pointer;
    transition: .2s linear;
}
.my_Menu .links button:hover,
.my_Menu .links .active {
    color: var(--main_Color);
}

/*--------------
-* Education **
----------------*/
.my_Menu .education {
    display: none;
}
.my_Menu .education .col {
    width: 90%;
    height: 150px;
    margin: 1.5em 0;
    background-color: rgba(128, 128, 128, 0.158);
    padding: 27px 35px;
    position: relative;
}
.my_Menu .education .col::before {
    content: "";
    width: 2px;
    height: 50%;
    position: absolute;
    left:0;
    top: 25%; 
    background-color: var(--main_Color);

}
.my_Menu .education .col .University {
    font-size: 20px;
    font-weight: normal;
    color: var(--child_color);
}
.my_Menu .education .col .University span {
    font-size: 15px;
    font-weight: normal;
    margin-left: 5px;
    color:var(--main_Color)
}
.my_Menu .education .col p {
    font-size: 18px;
    color: var(--border_color);
}
.show_Animation {
    animation: anim .5s linear;
} 
@keyframes anim {
    0%{
        transform: rotate3d(0, 4, 0, -50deg);
    }
    100% {
        transform: rotate3d(0, 4, 0, 0deg);
    }
}


/*--------------
-* skills **
----------------*/
.skills {
    width: 75%;
    min-height: 400px ;
    display: flex;
    flex-direction: column;
    display: none;
    } 
.skills .col {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin: 5px 0;
    padding-right: 20px;
}
.skills  h3 {
    font-size: 13px;
    color: var(--child_color);
    letter-spacing: 1px;
    font-weight: normal;
    margin-left: 4px;
    margin-top: 10px;
}
.skills p {
    width: 100%;
    height: 3px;
    background-color: var(--border_color);
    padding: 0;
    margin: 0;
    position: relative;
}
.skills p .chang_width {
    display:block;
    width: 0;
    background-color: var(--main_Color);
    height: 100%;
    border-radius: 10px;
    transition: width 4.5s linear;
}
.skills p .data_number {
    width: 38px;
    height: 24px;
    padding-top: 4px;
    padding-left: 6px;
    color: var(--child_color);
    font-size: 14px;
    position: absolute;
    top: -35px;
    right: -5px;
}
.skills p .data_number::after{
    content: "%";
    width: 10px;
    height: 10px;
    font-size: 14px;
    position: absolute;
    top: 4px;
    right: 4px;
}
.skills .about_skills {
    width: 100%;
    height: 160px;
    padding-top: 8px;
    font-size: 18px;
    color: var(--border_color);
    font-weight: 400;
    margin-top: 2em;
    letter-spacing: .5px;
    line-height: 1.5em;
    background: none;
}


/*-----------------
-* My portfolio **
------------------*/
.portfolio {
    width: 95%;
    min-height: 600px;
    margin-top: 4em;
}
.portfolio .row {
    width: 100%;
    height: 100%;
    margin-top: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.portfolio .row .project {
    width: 300px;
    height: fit-content;
    margin: 10px;
    margin-bottom: 2em;
    overflow: hidden;
    position: relative;
}
.portfolio  .project .image {
    width: 100%;
    height: 200px;
    padding: 2rem;
    background-color: #74686824;
}
.portfolio  .project  button {
    width: 100%;
    height: 100%;
    background: none;
    border: 0;
    cursor: pointer;
}
.portfolio  .project .image img {
    width: 100%;
    height: 100%;
    cursor: pointer;
} 
.portfolio  .project .text {
    width: 100%;
    height: fit-content;
    padding: 1rem 10px ;
}
.portfolio  .project .text h3 {
    margin: 0;
    font-size: 15px;
    margin-bottom: 6px;
    font-weight: normal;
    color: var(--child_color);
}
.portfolio  .project .text a {
    text-decoration: none;
    font-size: 11px;
    font-weight: 600;
    color: var(--main_Color);
    transition: .3s linear;
}
.portfolio  .project .text a::after {
    content: ">";
    font-size: 10px;
    color: var(--main_Color);
    position: absolute;
    top: 3px;
    right: -14px;
    transition: .3s linear;
}
.portfolio  .project .text a:hover::after {
    color: var(--child_color);
    right: -20px;
}
.portfolio  .project .text a:hover {
    color: var(--border_color);
}

/*------- the container is show your images -------*/
.containerShowImages {
    position: fixed;
    width: 100%;
    height: 100% ;
    top: 0;
    left: 0;
    z-index: 100;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(7, 7, 7, 0.87);
}
.containerShowImages  img {
    width: 70%;
}
.containerShowImages button {
    position: absolute;
    background: none;
    border: 0;
    top: 1em;
    right: 3em;
    width: 50px;
    height: 50px;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

/*-----------------
-* contact **
------------------*/
.contact {
    width: 90%;
    min-height: 600px;
    margin-top: 6rem ;
    margin-bottom: 2rem;
}
.contact p {
    font-size: 22px;
    color: var(--child_color);
    font-weight: 400;
    margin-top: 2em;
    letter-spacing: .5px;
    line-height: 1.5em;
}
.contact .contact-form {
    width: 100%;
    margin-top: 2em;
    padding: 10px  ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.contact .contact-form input {
    width: 100%;
    outline: none;
    letter-spacing: 1px;
    background: none;
    color: var(--child_color);
    border: 1px solid var(--border_color);
    height: 70px;
    font-size: 1rem;
    margin: 20px 0;
    padding: 0 1rem;
    padding-top: 1rem;
    border-radius: 5px;
    transition: .5s linear;
}
.contact .contact-form textarea {
    height: 200px;
    outline: none;
    width: 100%;
    color: var(--child_color);
    margin: 20px 0;
    border: 1px solid var(--border_color);
    background: none;
    font-size: 1rem;
    padding: 0 1rem;
    padding-top: 2rem;
    letter-spacing: .5px;
    line-height: 1.5em;
    border-radius: 5px;
    transition: .5s linear;
}
.contact .contact-form .label{
    position: absolute;
    top: 45px;
    left: 20px;
    font-size: 1rem;
    color: var(--border_color);
    text-align: center;
    transition: .2s linear;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button
{
appearance: none;
}
.contact .contact-form .input_Name,
.contact .contact-form .input_Email  {
    width: 45%;
    position: relative;
}
.contact .contact-form .input_phon,
.contact .contact-form .input_Masseg {
    width: 100%;
    position: relative;
}
.contact .contact-form input:focus ,
.contact .contact-form textarea:focus {
    border: 1px solid var(--main_Color);
    box-shadow: 0 0 5px 1px var(--main_Color);
}
/*  the classes for check  */
.contact .contact-form input.correct,
.contact .contact-form textarea.correct
{
    border: 1px solid green;
    box-shadow: 0 0 5px 1px green;
}
.contact .contact-form input.incorrect,
.contact .contact-form textarea.incorrect
{
    border: 1px solid red;
    box-shadow: 0 0 5px 1px red;
}


.contact .contact-form .label.label-focus {
    top: 2rem;
    font-size: 14px;
    color: var(--border_color); 
}
.contact .contact-form button {
    cursor: pointer;
    width: 90%;
    height: 60px;
    margin: 1em 5%;
    background: none;
    color: var(--child_color);
    text-transform: capitalize;
    font-weight: 600;
    border: 1px solid whit;
    border: 1px solid var(--border_color);
    transition: .3s linear;
}
.contact .contact-form button:hover {
    border:1px solid var(--main_Color); 
    box-shadow: 0 0 2px 2px var(--main_Color);
}

/* message user */
.show-message-user {
    width: 100%;
    height: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    border-radius: 15px;
}
.show-message-user .message {
    width: 60%;
    height: 60%;
    background-color:var(--main_Color);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
.show-message-user i {
    font-size: 60px;
    color: white;
}
.show-message-user h3 {
    font-size: 25px;
    margin: 0;
    margin-top: 10px;
    text-transform: capitalize;
}
.show-message-user p {
    font-size: 15px;
    margin-top: 8px;
    color: var(--main_background);
    text-transform: capitalize;
}
.show-message-user button {
    width: 120px;
    height: 35px;
    border: 1px solid black;
    color: var(--child_color);
    border-radius: 15px;
    font-size: 13px;
    text-transform: capitalize;
    background: none;
    margin-top: 1rem;
    cursor: pointer;
    transition: .2s linear;
}
.show-message-user button:hover {
    background-color: var(--main_background);
    border: 1px solid var(--main_background);
}


/*-----------------
-* footer  **
------------------*/
.footer {
    width: 100%;
    height: 300px;
    padding: 4rem 0; 
    background-color:var(--main_Color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer h3 {
    font-size: 30px;
    margin: 0;
    color: var(--main_background);
    font-family: 'Satisfy', cursive;
}
.footer .links {
    width: 200px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.footer .links  a {
    width: 25px;
    height: 25px;
    padding: 0;
    border-radius: 50%;
    border: 1px solid var(--child_color);
    color: var(--main_background);
    text-decoration: none;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s linear;
    background-color: var(--child_color);
}
.footer .links  a:hover {
    font-size: 14px;
    transform: scale(1.2);
    color: var(--child_color);
    border: 1px solid var(--main_background);
    background-color: var(--main_background);
}


/**************
- Media Query 
*****************/

     /*    sm     */
@media (min-width:360px) and (max-width:760px) {
    .container {
        width: 350px;
        margin: auto;
        padding: 0 15px;
    } 
    #cursor_id {
        display: none;
    }
    #child_cursorId {
        display: none;
    }
    .title {
        font-size: 15px;
    }
    .title span {
        font-size: 30px;
    }
    .open_Menu {
        display: block;
    }
    /* -------- navbar  ---------*/
    .navbar {
        padding: 0;
        top: 0;
        z-index: 100;
        height: 100px;
        position: sticky;
        overflow: initial;
        justify-content: space-between;
        top: 0;
        background-color: var(--main_background);
    }   
    .navbar .logo-nav {
        width: 100px;
    }
    .navbar .links {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        top: 80px;
        left: 0;
        background-color: var(--child_color);
        width: 100%;
        height: 0;
        padding: 0;
        overflow: hidden;
        transition: .5s linear;
    }
    .navbar .links.active-header-links {
        height: 300px;
    }
    .navbar .links a {
        width: 100%;
        height: fit-content;
        font-size: 19px;
        padding: 10px 0;
        margin: 5px 0;
        text-align: center;
        color: var(--main_background);
    }

    .navbar .menu-buttons button {
        font-size: 17px;
        padding: 10px 5px;
    }
    .navbar .menu-buttons ul {
        right: 25px;
    }
    .main_Parent {
        flex-direction: column-reverse;
    }
    .main_right {
        width: 100%;
        height: 454px;
        margin-bottom: 2rem;
        position: relative;
    }
    .Menu_link  {
    display: none;
    }
    .header_Img {
        margin-top: 0;
    }

    .main_left {
        width: 100%;
    }
    /*---------- information ----------*/
    .information {
        height: 350px;
    }
    .information h1 {
        height: 33px;
        margin: 0;
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 26px;
    }
    .information p {
        font-size: 1rem;
        width: 100%;
    }
    .information span {
        font-size: 18px;
    }
    .information .my_signature  {
        font-size: 20px;
    }
    /*--------- About --------*/
    .about {
        padding: 5px;
    }
    .about p {
        width: 100%;
        font-size: 1rem;
    }
    .about table td {
        padding: 4px 2rem 8px 0;
        font-size: 14px;
    }
    .about button {
        width: 100%;
        height: 60px;
    }
    .about button a span  {
        font-size: 14px;
    }
    .about button a i {
        font-size: 21px;
        margin-bottom: 8px;
    }
    /*------------- My Menu ----------*/
    .my_Menu {
        margin: 3rem 0;
        padding: 2rem 0;
    }
    .my_Menu .education .col {
        width: 100%;
        height: 120px;
        padding: 1.2rem  22px  ;
    }
    .my_Menu .education .col::before {
        content: "";
        height: 40%;
        top: 30%;
    }
    .my_Menu .education .col h2 {
        font-size: 1rem;
    }
    .my_Menu .education .col h2 span {
        font-size: 13px;
        font-weight: normal;
        margin-left: 5px;
        color:var(--main_Color)
    }
    .my_Menu .education .col p {
        font-size: 15px;
        color: var(--border_color);
    }
    /* skills */
    .skills {
        width: 100%;
    }
    .skills p .data_number {
        font-size: 12px;
        padding-top: 6px;
    }
    .skills .about_skills  {
        font-size: 15px;
    }
    /*----------- My portfolio ----------*/
    .portfolio {
        width: 100%;
    }
    .portfolio .row .col  {
        margin-right: 0;
    }
    /*--------- contact --------*/
    .contact{
        width: 100%;
        margin-bottom: 3rem;
    }
    .contact p {
        font-size: 15px;
    }
    .contact .contact-form .input_Name, 
    .contact .contact-form .input_Email {
        width: 100%;
        position: relative;
    }

}
         /*    md     */
@media (min-width:768px) and (max-width:970px) {
    .container {
        width: 750px;
        padding: 0;
    }
    .main_Parent {
        justify-content: space-around;
    }  
    .main_right {
        width: 45%;
    }
    .main_left {
        width: 45%;
    }
    /*---------- information ----------*/
    .information {
        padding: 10px;
        height: 300px;
        margin-top: 11rem;
    }
    .information h1 {
        height: 45px;
        margin: 0;
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 31px;
    }
    .information p {
        font-size: 1rem;
        width: 100%;
    }
    .information span {
        font-size: 21px;
    }
    /*--------- About --------*/
    .about {
        padding: 5px;
    }
    .about p {
        width: 100%;
        font-size: 1rem;
    }
    .about table td {
        padding: 4px 2rem 8px 0;
        font-size: 14px;
    }
    .about button {
        width: 100%;
        height: 60px;
    }
    .about button a span  {
        font-size: 14px;
    }
    .about button a i {
        font-size: 21px;
        margin-bottom: 8px;
    }
    /*------------- My Menu ----------*/
    .my_Menu {
        margin: 3rem 0;
        padding: 2rem 0;
    }
    .my_Menu .education .col {
        width: 100%;
        height: 120px;
        padding: 1.2rem  22px  ;
    }
    .my_Menu .education .col h2 {
        font-size: 1rem;
    }
    .my_Menu .education .col h2 span {
        font-size: 13px;
        font-weight: normal;
        margin-left: 5px;
        color:var(--main_Color)
    }
    .my_Menu .education .col p {
        font-size: 15px;
        color: var(--border_color);
    }
    /* skills */
    .skills {
        width: 100%;
    }
    .skills p .data_number {
        font-size: 12px;
        padding-top: 6px;
    }
    .skills .about_skills  {
        font-size: 15px;
    }
    /*----------- My portfolio ----------*/
    .portfolio {
        width: 100%;
    }
    .portfolio .row .col  {
        margin-right: 0;
    }
    /*--------- contact --------*/
    .contact{
        width: 100%;
    }
    .contact p {
        font-size: 15px;
    }
    .contact .contact-form .input_Name, 
    .contact .contact-form .input_Email {
        width: 100%;
        position: relative;
    }


}
     /*     L     */
@media (min-width:992px) and (max-width:1200px) {
    .container {
        width: 970px;
    }
    .information h1 {
        margin: 0;
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 45px;
    }
}
     /*     xl     */
@media (min-width:1200px) {
    .container {
        width: 1300px;
    }   
}